# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# FastAPI / Uvicorn
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Uploaded files
uploaded_docs/
*.pdf

# Chroma database
chroma_local_data/
actions/
data/actions/

# bm25 index
bm25/

# Jupyter Notebook
.ipynb_checkpoints

# Model cache
.cache/
models/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
**/*.pkl

.DS_Store

error.txt

test_rank.py

